<nav class="navbar navbar-transparent  ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand collapsed" >
        <%= link_to root_path do %>
          <%= image_tag "http://static1.squarespace.com/static/5885135fd2b857134e3f6606/t/589f37833a0411d59c5c0882/1486829451412/jelogo_social.png?format=1000w", class: "logo tinted" %>
        <% end %>

      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li><%= link_to 'PROFILE', profile_path , class:"nav-text" %></li>
        <li><%= link_to 'PROJECTS', projects_path,class:"nav-text" %></li>
        <li><%= link_to 'RESUME', resumae_path, class:"nav-text" %></li>
        <li><%= link_to 'CONTACT', contact_path, class:"nav-text" %></li>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
